.menu-effects{
    border-color: #f75524;
}

.transition-effect{
    // transition: border-color 0.3s ease-in-out;
}

.menu-item:hover{
    border-color: #f75524;

}

.menu-label{
//     position: relative;
//   transition: all 1s;
//   transition-behavior: allow-discrete;
}

.mobile{
    display: none;
}

@media only screen and (max-width : 1000px) {
    .laptop {
        display: none;
    }

    .mobile{
        display: block;
    }
}